<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body> 
    <main class="principal" color="red" font-size="24px">
      <p class="secund sub edward" style="color:red;font-size:24px;">el titulo de esta pagina es mi primera pagina web      y el metodo <span> ewuwuuw d</span> vamos cremas 
        <p>secund</p>
        <p>sub</p>
        <p>edward</p>
      </p>
    </main>
    <footer>
      <p>echo pr edward santamaria</p><img src="/public/imagenes/ed.jpg" alt="computer">
    </footer>
  </body>
</html>